/* @import "tailwindcss";
:root {
  --bg: #000000;
  --card: #050816;
  --primary: #9333ea;
  --primary-hover: #7e22ce;
  --text: #ffffff;
  --text-secondary: #94a3b8;
  --border: #1e293b;
  --success: #22c55e;
  --error: #ef4444;
  margin: 0;
  min-height: 100%;
} */

@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: #000000;
}
